<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ahuan</key>
		<array>
			<string>Ahuan0.png</string>
			<string>Ahuan1.png</string>
			<string>Ahuan2.png</string>
			<string>Ahuan3.png</string>
			<string>Ahuan4.png</string>
			<string>Ahuan5.png</string>
			<string>Ahuan6.png</string>
			<string>Ahuan7.png</string>
			<string>Ahuan8.png</string>
			<string>Ahuan9.png</string>
			<string>Ahuan10.png</string>
			<string>Ahuan11.png</string>
		</array>
	</dict>
	<dict>
		<key>AllMyFriends</key>
		<array>
			<string>AllMyFriends0.png</string>
			<string>AllMyFriends1.png</string>
			<string>AllMyFriends2.png</string>
			<string>AllMyFriends3.png</string>
			<string>AllMyFriends4.png</string>
			<string>AllMyFriends5.png</string>
			<string>AllMyFriends6.png</string>
			<string>AllMyFriends7.png</string>
			<string>AllMyFriends8.png</string>
			<string>AllMyFriends9.png</string>
			<string>AllMyFriends10.png</string>
			<string>AllMyFriends11.png</string>
			<string>AllMyFriends12.png</string>
			<string>AllMyFriends13.png</string>
			<string>AllMyFriends14.png</string>
			<string>AllMyFriends15.png</string>
			<string>AllMyFriends16.png</string>
			<string>AllMyFriends17.png</string>
			<string>AllMyFriends18.png</string>
			<string>AllMyFriends19.png</string>
			<string>AllMyFriends20.png</string>
			<string>AllMyFriends21.png</string>
			<string>AllMyFriends22.png</string>
			<string>AllMyFriends23.png</string>
			<string>AllMyFriends24.png</string>
			<string>AllMyFriends25.png</string>
			<string>AllMyFriends26.png</string>
			<string>AllMyFriends27.png</string>
			<string>AllMyFriends28.png</string>
			<string>AllMyFriends29.png</string>
			<string>AllMyFriends30.png</string>
			<string>AllMyFriends31.png</string>
			<string>AllMyFriends32.png</string>
			<string>AllMyFriends33.png</string>
			<string>AllMyFriends34.png</string>
			<string>AllMyFriends35.png</string>
		</array>
	</dict>
	<dict>
		<key>Bian</key>
		<array>
			<string>Bian0.png</string>
			<string>Bian1.png</string>
			<string>Bian2.png</string>
			<string>Bian3.png</string>
			<string>Bian4.png</string>
			<string>Bian5.png</string>
			<string>Bian6.png</string>
			<string>Bian7.png</string>
			<string>Bian8.png</string>
			<string>Bian9.png</string>
			<string>Bian10.png</string>
			<string>Bian11.png</string>
		</array>
	</dict>
	<dict>
		<key>BlackScrawl</key>
		<array>
			<string>BlackScrawl0.png</string>
			<string>BlackScrawl1.png</string>
			<string>BlackScrawl2.png</string>
			<string>BlackScrawl3.png</string>
			<string>BlackScrawl4.png</string>
			<string>BlackScrawl5.png</string>
			<string>BlackScrawl6.png</string>
			<string>BlackScrawl7.png</string>
			<string>BlackScrawl8.png</string>
			<string>BlackScrawl9.png</string>
			<string>BlackScrawl10.png</string>
			<string>BlackScrawl11.png</string>
			<string>BlackScrawl12.png</string>
			<string>BlackScrawl13.png</string>
			<string>BlackScrawl14.png</string>
			<string>BlackScrawl15.png</string>
			<string>BlackScrawl16.png</string>
			<string>BlackScrawl17.png</string>
			<string>BlackScrawl18.png</string>
			<string>BlackScrawl19.png</string>
			<string>BlackScrawl20.png</string>
			<string>BlackScrawl21.png</string>
			<string>BlackScrawl22.png</string>
			<string>BlackScrawl23.png</string>
			<string>BlackScrawl24.png</string>
			<string>BlackScrawl25.png</string>
			<string>BlackScrawl26.png</string>
			<string>BlackScrawl27.png</string>
			<string>BlackScrawl28.png</string>
			<string>BlackScrawl29.png</string>
			<string>BlackScrawl30.png</string>
			<string>BlackScrawl31.png</string>
			<string>BlackScrawl32.png</string>
			<string>BlackScrawl33.png</string>
			<string>BlackScrawl34.png</string>
			<string>BlackScrawl35.png</string>
		</array>
	</dict>
	<dict>
		<key>CafeCat</key>
		<array>
			<string>CafeCat0.png</string>
			<string>CafeCat1.png</string>
			<string>CafeCat2.png</string>
			<string>CafeCat3.png</string>
			<string>CafeCat4.png</string>
			<string>CafeCat5.png</string>
			<string>CafeCat6.png</string>
			<string>CafeCat7.png</string>
			<string>CafeCat8.png</string>
			<string>CafeCat9.png</string>
			<string>CafeCat10.png</string>
			<string>CafeCat11.png</string>
			<string>CafeCat12.png</string>
			<string>CafeCat13.png</string>
			<string>CafeCat14.png</string>
			<string>CafeCat15.png</string>
			<string>CafeCat16.png</string>
			<string>CafeCat17.png</string>
			<string>CafeCat18.png</string>
			<string>CafeCat19.png</string>
			<string>CafeCat20.png</string>
			<string>CafeCat21.png</string>
			<string>CafeCat22.png</string>
			<string>CafeCat23.png</string>
			<string>CafeCat24.png</string>
			<string>CafeCat25.png</string>
			<string>CafeCat26.png</string>
			<string>CafeCat27.png</string>
			<string>CafeCat28.png</string>
			<string>CafeCat29.png</string>
			<string>CafeCat30.png</string>
			<string>CafeCat31.png</string>
			<string>CafeCat32.png</string>
			<string>CafeCat33.png</string>
			<string>CafeCat34.png</string>
			<string>CafeCat35.png</string>
			<string>CafeCat36.png</string>
			<string>CafeCat37.png</string>
			<string>CafeCat38.png</string>
			<string>CafeCat39.png</string>
			<string>CafeCat40.png</string>
		</array>
	</dict>
	<dict>
		<key>Check</key>
		<array>
			<string>Check0.png</string>
			<string>Check1.png</string>
			<string>Check2.png</string>
			<string>Check3.png</string>
			<string>Check4.png</string>
			<string>Check5.png</string>
			<string>Check6.png</string>
			<string>Check7.png</string>
			<string>Check8.png</string>
			<string>Check9.png</string>
			<string>Check10.png</string>
			<string>Check11.png</string>
			<string>Check12.png</string>
			<string>Check13.png</string>
			<string>Check14.png</string>
			<string>Check15.png</string>
			<string>Check16.png</string>
			<string>Check17.png</string>
			<string>Check18.png</string>
			<string>Check19.png</string>
			<string>Check20.png</string>
			<string>Check21.png</string>
			<string>Check22.png</string>
			<string>Check23.png</string>
			<string>Check24.png</string>
			<string>Check25.png</string>
			<string>Check26.png</string>
			<string>Check27.png</string>
			<string>Check28.png</string>
			<string>Check29.png</string>
			<string>Check30.png</string>
			<string>Check31.png</string>
			<string>Check32.png</string>
			<string>Check33.png</string>
			<string>Check34.png</string>
			<string>Check35.png</string>
			<string>Check36.png</string>
			<string>Check37.png</string>
			<string>Check38.png</string>
			<string>Check39.png</string>
			<string>Check40.png</string>
			<string>Check41.png</string>
			<string>Check42.png</string>
			<string>Check43.png</string>
			<string>Check44.png</string>
			<string>Check45.png</string>
			<string>Check46.png</string>
			<string>Check47.png</string>
			<string>Check48.png</string>
			<string>Check49.png</string>
			<string>Check50.png</string>
			<string>Check51.png</string>
			<string>Check52.png</string>
			<string>Check53.png</string>
			<string>Check54.png</string>
		</array>
	</dict>
	<dict>
		<key>DD</key>
		<array>
			<string>DD0.png</string>
			<string>DD1.png</string>
			<string>DD2.png</string>
			<string>DD3.png</string>
			<string>DD4.png</string>
			<string>DD5.png</string>
			<string>DD6.png</string>
			<string>DD7.png</string>
			<string>DD8.png</string>
			<string>DD9.png</string>
			<string>DD10.png</string>
			<string>DD11.png</string>
			<string>DD12.png</string>
			<string>DD13.png</string>
			<string>DD14.png</string>
			<string>DD15.png</string>
			<string>DD16.png</string>
			<string>DD17.png</string>
			<string>DD18.png</string>
			<string>DD19.png</string>
			<string>DD20.png</string>
			<string>DD21.png</string>
			<string>DD22.png</string>
			<string>DD23.png</string>
			<string>DD24.png</string>
			<string>DD25.png</string>
			<string>DD26.png</string>
			<string>DD27.png</string>
			<string>DD28.png</string>
			<string>DD29.png</string>
			<string>DD30.png</string>
			<string>DD31.png</string>
			<string>DD32.png</string>
			<string>DD33.png</string>
			<string>DD34.png</string>
			<string>DD35.png</string>
			<string>DD36.png</string>
			<string>DD37.png</string>
			<string>DD38.png</string>
			<string>DD39.png</string>
		</array>
	</dict>
	<dict>
		<key>HighWord</key>
		<array>
			<string>HighWord0.png</string>
			<string>HighWord1.png</string>
			<string>HighWord2.png</string>
			<string>HighWord3.png</string>
			<string>HighWord4.png</string>
			<string>HighWord5.png</string>
			<string>HighWord6.png</string>
			<string>HighWord7.png</string>
			<string>HighWord8.png</string>
			<string>HighWord9.png</string>
			<string>HighWord10.png</string>
			<string>HighWord11.png</string>
			<string>HighWord12.png</string>
			<string>HighWord13.png</string>
			<string>HighWord14.png</string>
			<string>HighWord15.png</string>
			<string>HighWord16.png</string>
			<string>HighWord17.png</string>
			<string>HighWord18.png</string>
			<string>HighWord19.png</string>
			<string>HighWord20.png</string>
			<string>HighWord21.png</string>
			<string>HighWord22.png</string>
			<string>HighWord23.png</string>
			<string>HighWord24.png</string>
			<string>HighWord25.png</string>
			<string>HighWord26.png</string>
			<string>HighWord27.png</string>
			<string>HighWord28.png</string>
			<string>HighWord29.png</string>
			<string>HighWord30.png</string>
			<string>HighWord31.png</string>
			<string>HighWord32.png</string>
			<string>HighWord33.png</string>
			<string>HighWord34.png</string>
			<string>HighWord35.png</string>
			<string>HighWord36.png</string>
			<string>HighWord37.png</string>
			<string>HighWord38.png</string>
			<string>HighWord39.png</string>
			<string>HighWord40.png</string>
			<string>HighWord41.png</string>
			<string>HighWord42.png</string>
			<string>HighWord43.png</string>
			<string>HighWord44.png</string>
			<string>HighWord45.png</string>
			<string>HighWord46.png</string>
			<string>HighWord47.png</string>
			<string>HighWord48.png</string>
			<string>HighWord49.png</string>
			<string>HighWord50.png</string>
			<string>HighWord51.png</string>
			<string>HighWord52.png</string>
			<string>HighWord53.png</string>
			<string>HighWord54.png</string>
			<string>HighWord55.png</string>
			<string>HighWord56.png</string>
			<string>HighWord57.png</string>
			<string>HighWord58.png</string>
			<string>HighWord59.png</string>
			<string>HighWord60.png</string>
		</array>
	</dict>
	<dict>
		<key>loadingdata</key>
		<array>
			<string>loadingdata0.png</string>
			<string>loadingdata1.png</string>
			<string>loadingdata2.png</string>
			<string>loadingdata3.png</string>
			<string>loadingdata4.png</string>
			<string>loadingdata5.png</string>
			<string>loadingdata6.png</string>
			<string>loadingdata7.png</string>
			<string>loadingdata8.png</string>
			<string>loadingdata9.png</string>
		</array>
	</dict>
	<dict>
		<key>Meg</key>
		<array>
			<string>Meg0.png</string>
			<string>Meg1.png</string>
			<string>Meg2.png</string>
			<string>Meg3.png</string>
			<string>Meg4.png</string>
			<string>Meg5.png</string>
			<string>Meg6.png</string>
			<string>Meg7.png</string>
			<string>Meg8.png</string>
			<string>Meg9.png</string>
			<string>Meg10.png</string>
			<string>Meg11.png</string>
			<string>Meg12.png</string>
			<string>Meg13.png</string>
			<string>Meg14.png</string>
			<string>Meg15.png</string>
			<string>Meg16.png</string>
			<string>Meg17.png</string>
			<string>Meg18.png</string>
			<string>Meg19.png</string>
			<string>Meg20.png</string>
			<string>Meg21.png</string>
			<string>Meg22.png</string>
			<string>Meg23.png</string>
			<string>Meg24.png</string>
			<string>Meg25.png</string>
			<string>Meg26.png</string>
			<string>Meg27.png</string>
			<string>Meg28.png</string>
			<string>Meg29.png</string>
			<string>Meg30.png</string>
			<string>Meg31.png</string>
			<string>Meg32.png</string>
			<string>Meg33.png</string>
			<string>Meg34.png</string>
			<string>Meg35.png</string>
			<string>Meg36.png</string>
			<string>Meg37.png</string>
			<string>Meg38.png</string>
			<string>Meg39.png</string>
			<string>Meg40.png</string>
			<string>Meg41.png</string>
			<string>Meg42.png</string>
			<string>Meg43.png</string>
			<string>Meg44.png</string>
			<string>Meg45.png</string>
			<string>Meg46.png</string>
			<string>Meg47.png</string>
			<string>Meg48.png</string>
			<string>Meg49.png</string>
			<string>Meg50.png</string>
			<string>Meg51.png</string>
			<string>Meg52.png</string>
			<string>Meg53.png</string>
			<string>Meg54.png</string>
			<string>Meg55.png</string>
			<string>Meg56.png</string>
			<string>Meg57.png</string>
			<string>Meg58.png</string>
			<string>Meg59.png</string>
			<string>Meg60.png</string>
			<string>Meg61.png</string>
			<string>Meg62.png</string>
			<string>Meg63.png</string>
			<string>Meg64.png</string>
			<string>Meg65.png</string>
			<string>Meg66.png</string>
			<string>Meg67.png</string>
			<string>Meg68.png</string>
		</array>
	</dict>
	<dict>
		<key>MeiChuanKuZi</key>
		<array>
			<string>MeiChuanKuZi0.png</string>
			<string>MeiChuanKuZi1.png</string>
			<string>MeiChuanKuZi2.png</string>
			<string>MeiChuanKuZi3.png</string>
			<string>MeiChuanKuZi4.png</string>
			<string>MeiChuanKuZi5.png</string>
			<string>MeiChuanKuZi6.png</string>
			<string>MeiChuanKuZi7.png</string>
			<string>MeiChuanKuZi8.png</string>
			<string>MeiChuanKuZi9.png</string>
			<string>MeiChuanKuZi10.png</string>
			<string>MeiChuanKuZi11.png</string>
			<string>MeiChuanKuZi12.png</string>
			<string>MeiChuanKuZi13.png</string>
		</array>
	</dict>
	<dict>
		<key>Nice</key>
		<array>
			<string>Nice0.png</string>
			<string>Nice1.png</string>
			<string>Nice2.png</string>
			<string>Nice3.png</string>
			<string>Nice4.png</string>
			<string>Nice5.png</string>
			<string>Nice6.png</string>
			<string>Nice7.png</string>
			<string>Nice8.png</string>
			<string>Nice9.png</string>
			<string>Nice10.png</string>
			<string>Nice11.png</string>
			<string>Nice12.png</string>
			<string>Nice13.png</string>
			<string>Nice14.png</string>
			<string>Nice15.png</string>
			<string>Nice16.png</string>
			<string>Nice17.png</string>
			<string>Nice18.png</string>
			<string>Nice19.png</string>
			<string>Nice20.png</string>
			<string>Nice21.png</string>
			<string>Nice22.png</string>
			<string>Nice23.png</string>
			<string>Nice24.png</string>
			<string>Nice25.png</string>
			<string>Nice26.png</string>
			<string>Nice27.png</string>
			<string>Nice28.png</string>
			<string>Nice29.png</string>
			<string>Nice30.png</string>
			<string>Nice31.png</string>
			<string>Nice32.png</string>
			<string>Nice33.png</string>
			<string>Nice34.png</string>
			<string>Nice35.png</string>
			<string>Nice36.png</string>
			<string>Nice37.png</string>
			<string>Nice38.png</string>
			<string>Nice39.png</string>
			<string>Nice40.png</string>
			<string>Nice41.png</string>
			<string>Nice42.png</string>
			<string>Nice43.png</string>
			<string>Nice44.png</string>
			<string>Nice45.png</string>
			<string>Nice46.png</string>
		</array>
	</dict>
	<dict>
		<key>Snoopy</key>
		<array>
			<string>Snoopy0.png</string>
			<string>Snoopy1.png</string>
			<string>Snoopy2.png</string>
			<string>Snoopy3.png</string>
			<string>Snoopy4.png</string>
			<string>Snoopy5.png</string>
			<string>Snoopy6.png</string>
			<string>Snoopy7.png</string>
			<string>Snoopy8.png</string>
			<string>Snoopy9.png</string>
			<string>Snoopy10.png</string>
			<string>Snoopy11.png</string>
			<string>Snoopy12.png</string>
			<string>Snoopy13.png</string>
			<string>Snoopy14.png</string>
			<string>Snoopy15.png</string>
			<string>Snoopy16.png</string>
			<string>Snoopy17.png</string>
			<string>Snoopy18.png</string>
			<string>Snoopy19.png</string>
			<string>Snoopy20.png</string>
			<string>Snoopy21.png</string>
			<string>Snoopy22.png</string>
			<string>Snoopy23.png</string>
			<string>Snoopy24.png</string>
			<string>Snoopy25.png</string>
			<string>Snoopy26.png</string>
			<string>Snoopy27.png</string>
			<string>Snoopy28.png</string>
			<string>Snoopy29.png</string>
			<string>Snoopy30.png</string>
			<string>Snoopy31.png</string>
			<string>Snoopy32.png</string>
			<string>Snoopy33.png</string>
			<string>Snoopy34.png</string>
			<string>Snoopy35.png</string>
		</array>
	</dict>
	<dict>
		<key>Things</key>
		<array>
			<string>Things0.png</string>
			<string>Things1.png</string>
			<string>Things3.png</string>
			<string>Things4.png</string>
			<string>Things5.png</string>
			<string>Things6.png</string>
			<string>Things7.png</string>
			<string>Things8.png</string>
			<string>Things9.png</string>
			<string>Things10.png</string>
			<string>Things11.png</string>
			<string>Things12.png</string>
			<string>Things13.png</string>
			<string>Things14.png</string>
			<string>Things15.png</string>
			<string>Things16.png</string>
			<string>Things17.png</string>
			<string>Things18.png</string>
			<string>Things19.png</string>
			<string>Things20.png</string>
			<string>Things21.png</string>
			<string>Things22.png</string>
			<string>Things23.png</string>
			<string>Things24.png</string>
			<string>Things25.png</string>
			<string>Things26.png</string>
			<string>Things27.png</string>
			<string>Things28.png</string>
			<string>Things29.png</string>
			<string>Things30.png</string>
			<string>Things31.png</string>
			<string>Things32.png</string>
			<string>Things33.png</string>
			<string>Things34.png</string>
			<string>Things35.png</string>
			<string>Things36.png</string>
			<string>Things37.png</string>
			<string>Things38.png</string>
		</array>
	</dict>
	<dict>
		<key>TinyDeco</key>
		<array>
			<string>TinyDeco0.png</string>
			<string>TinyDeco1.png</string>
			<string>TinyDeco2.png</string>
			<string>TinyDeco3.png</string>
			<string>TinyDeco4.png</string>
			<string>TinyDeco5.png</string>
			<string>TinyDeco6.png</string>
			<string>TinyDeco7.png</string>
			<string>TinyDeco8.png</string>
			<string>TinyDeco9.png</string>
			<string>TinyDeco10.png</string>
			<string>TinyDeco11.png</string>
			<string>TinyDeco12.png</string>
			<string>TinyDeco13.png</string>
			<string>TinyDeco14.png</string>
			<string>TinyDeco15.png</string>
			<string>TinyDeco16.png</string>
			<string>TinyDeco17.png</string>
			<string>TinyDeco18.png</string>
			<string>TinyDeco19.png</string>
		</array>
	</dict>
	<dict>
		<key>Toy</key>
		<array>
			<string>Toy0.png</string>
			<string>Toy1.png</string>
			<string>Toy2.png</string>
			<string>Toy3.png</string>
			<string>Toy4.png</string>
			<string>Toy5.png</string>
			<string>Toy6.png</string>
			<string>Toy7.png</string>
			<string>Toy8.png</string>
			<string>Toy9.png</string>
			<string>Toy10.png</string>
			<string>Toy11.png</string>
			<string>Toy12.png</string>
			<string>Toy13.png</string>
			<string>Toy14.png</string>
			<string>Toy15.png</string>
			<string>Toy16.png</string>
			<string>Toy17.png</string>
			<string>Toy18.png</string>
			<string>Toy19.png</string>
			<string>Toy20.png</string>
			<string>Toy21.png</string>
			<string>Toy22.png</string>
			<string>Toy23.png</string>
			<string>Toy24.png</string>
			<string>Toy25.png</string>
			<string>Toy26.png</string>
			<string>Toy27.png</string>
			<string>Toy28.png</string>
			<string>Toy29.png</string>
			<string>Toy30.png</string>
			<string>Toy31.png</string>
			<string>Toy32.png</string>
			<string>Toy33.png</string>
			<string>Toy34.png</string>
			<string>Toy35.png</string>
			<string>Toy36.png</string>
			<string>Toy37.png</string>
			<string>Toy38.png</string>
			<string>Toy39.png</string>
			<string>Toy40.png</string>
			<string>Toy41.png</string>
			<string>Toy42.png</string>
			<string>Toy43.png</string>
			<string>Toy44.png</string>
			<string>Toy45.png</string>
			<string>Toy46.png</string>
			<string>Toy47.png</string>
			<string>Toy48.png</string>
			<string>Toy49.png</string>
			<string>Toy50.png</string>
			<string>Toy51.png</string>
			<string>Toy52.png</string>
			<string>Toy53.png</string>
			<string>Toy54.png</string>
			<string>Toy55.png</string>
			<string>Toy56.png</string>
			<string>Toy57.png</string>
			<string>Toy58.png</string>
			<string>Toy59.png</string>
		</array>
	</dict>
	<dict>
		<key>WhiteScrawl</key>
		<array>
			<string>WhiteScrawl0.png</string>
			<string>WhiteScrawl1.png</string>
			<string>WhiteScrawl2.png</string>
			<string>WhiteScrawl3.png</string>
			<string>WhiteScrawl4.png</string>
			<string>WhiteScrawl5.png</string>
			<string>WhiteScrawl6.png</string>
			<string>WhiteScrawl7.png</string>
			<string>WhiteScrawl8.png</string>
			<string>WhiteScrawl9.png</string>
			<string>WhiteScrawl10.png</string>
			<string>WhiteScrawl11.png</string>
			<string>WhiteScrawl12.png</string>
			<string>WhiteScrawl13.png</string>
			<string>WhiteScrawl14.png</string>
			<string>WhiteScrawl15.png</string>
			<string>WhiteScrawl16.png</string>
			<string>WhiteScrawl17.png</string>
			<string>WhiteScrawl18.png</string>
			<string>WhiteScrawl19.png</string>
			<string>WhiteScrawl20.png</string>
			<string>WhiteScrawl21.png</string>
			<string>WhiteScrawl22.png</string>
			<string>WhiteScrawl23.png</string>
			<string>WhiteScrawl24.png</string>
			<string>WhiteScrawl25.png</string>
			<string>WhiteScrawl26.png</string>
			<string>WhiteScrawl27.png</string>
			<string>WhiteScrawl28.png</string>
			<string>WhiteScrawl29.png</string>
			<string>WhiteScrawl30.png</string>
			<string>WhiteScrawl31.png</string>
			<string>WhiteScrawl32.png</string>
			<string>WhiteScrawl33.png</string>
			<string>WhiteScrawl34.png</string>
			<string>WhiteScrawl35.png</string>
		</array>
	</dict>
</array>
</plist>
